/.vscode
/__pycache__
/_utils

/agent
/agents
/attack_strategies
/attack_strategies_final
/checkpoints
/checkpoints_e2e
/compute_optimal_buckets
/create_buffer
/data
/differential_privacy
/dummy_data_B
/dynamic_consent_management
/evaluation
/kernet
/literature_models
/miscelaneous_final_files
/miscellaneous
/miscellaneous_v2
/miscellaneous_v3
/modular_dynamic_registration
/plots
/project_2_final_files
/register_unregister_new_spks
/results
/results_e2e
/results_spk_nq_adv
/testing
/testing_final_v2
/testing_v2
/tests
/training
/training_final_v2
/training_functions
/utils
/utils_final
/utils_other
/utils_v2

eer_cl_test_v2.py
list_of_commands_consent_management.txt
main_dataset_exp.py
main_eval_dp.py
main_plot_results.py
main_spk_registration.py
main_test_composite_adv_attk.py
main_train_adv_per_bucket.py
main_train_adv.py
main_train_composite_adv_attk_disc.py
main_train_dp.py
main_train_dp_.py
main_train_memb_inf_attk.py
main_train_per_bucket.py
main_train.py
new_sampler_multistrided.py
preprocess_data_vox.py
preprocess_vox.py
preprocess.py
README.txt
requirements_dev.txt
test_fastdp_lib.py
test_lstm_dp_layer.py
training.log
transfer_file_dataset.py
